button{
    border:none;
}

button:hover {
    cursor:pointer;
}

#top_button {
    display:flex;
    color:lightgrey;
    background-color:transparent;
    border-color: transparent;
	font-size:30px;
    padding : 0px;
    margin : -5px 5% 0px 0px;
	text-decoration:none;
    justify-content: center;
}
#top_button:hover{
    color:gray;
}

.my_button_remove_list{
    background-color:transparent;
    border-color: transparent;
    color : grey;
    font-size:15px;
    margin-top:0px;
    margin-left : -5px;
    margin-right: -5px;
}

.my_button_remove_list:hover{
    color:red;
}

.my_button_add_list{
    background-color:transparent;
    border-color: transparent;
    color : grey;
    font-size:15px;
    margin-top:10px;
    margin-left : -5px;
    margin-right: -5px;
}

.my_button_add_list:hover{
    color:blue;
}

.my_button_delete{   
    background-color:transparent;
    border-color: transparent;
    color : lightsalmon;
	font-weight:lighter;
	text-decoration:none;
    margin-left:auto;
}

.my_button_delete:hover{
    color:red;
}

#menu_close_button {
    background-color:transparent;
    border-color: transparent;
    color : lightgrey;
	font-size:40px;
	text-decoration:none;
    justify-content: center;
    margin-left:80%;
}

#menu_close_button:hover{
    color:gray;
}

.column_add_button {
    position:absolute;
    z-index:1;
    width:50px;
    height:50px;
    margin-left:90%;
    margin-top:800px;
    background-color:skyblue;
    border-radius: 50%;
    border-color: transparent;
    color:white;
    font-size:30px;
}

.column_add_button:hover{
    background-color:blue;
}

.add_delete_button_area{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: center;
}

.card_add_button{
    width:88px;
    height:40px;
    border-radius: 5%;
    /* margin-left:5px;
    margin-right:5px;
    padding-top:9px;
    padding-left:23px; */
    font-size: 22px;
    color:white;
    background-color:blue;
}

.card_delete_button{
    width:88px;
    height:40px;
    /* margin-left:5px;
    margin-right:5px; */
    border-radius: 5%;
    /* padding-top:9px;
    padding-left:23px; */
    font-size: 22px;
    color:white;
    text-align:center;
    background-color:rgb(199, 177, 177);
}
