#modal {
    border-style:solid;
    top:0;
    position:fixed;
    width:100vw;
    height:100vh;
    /* visibility:hidden; */
    background-color:rgba(0, 0, 0, 0.5);
}

#modal_center{
    border-style:solid;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content:space-between;
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 138px;
    left: 520px;
    top: 443px;
    padding:24px;
}

#modal_center_adding_new_col{
    border-style:solid;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content:space-between;
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 178px;
    left: 520px;
    top: 423px;
    padding:24px;
}

#modal_title {
    text-align: left;
    border-style: solid;
    border-color: black;
    width: 352px;
    height: 26px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

#modal_button_group{
    border-style:solid;
    display:inherit;
    flex-direction: row;
    justify-content: right;
}

.modal_button {
    border-style:solid;
    font-size: 30px;
    border-radius: 6px;
    width:134px;
    height:40px;
    padding: 10px;
    gap: 10px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    transition:background 0.3s ease-in-out, 
                color 0.3s ease-in-out;
}

#modal_add_button:hover{
    color:indigo;
}

#modal_delete_column_button:hover{
    color:indigo;
}

#modal_cancel_button:hover{
    color: grey;
}

#new_col_name {
    width:342px;
    height:30px;
    margin-top:8px;
    margin-bottom: 8px;
    text-align: left;
}