.side_menu {
    z-index:2;
    display:float;
    right:0;
    flex-direction: column;
    visibility: hidden;
    position:absolute;
    background-color:white;
    width:500px;
    height:100vh;
    font-size:12px;
}

.side_card{
    margin:auto;
    visibility:inherit;
    display:flex;
    flex-direction:column;
    width:350px;
    height:200px;
    font-size:30px;
    border-radius: 5%;
    margin-bottom:10px;
    background-color: antiquewhite;
    border-color: darkgreen;
    padding:20px;
}